
/*global*/

body {
	margin: 50px 200px;
	font-size: 24px;
	font-family: 'Roboto Condensed', sans-seri;
}
P {
	font-size: 18px;
}
p:last-of-type {
	font-size: 14px; 
	font-family: 'Roboto Condensed', sans-seri;
	font-style: italic;
}
